.about-section-wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #101010;
}

.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	justify-content: center;
	height: auto;
	width: 100%;
	padding: 30px;
}

.about-header {
	height: auto;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 45px;
	color: #fff;
	padding: 10px;
	padding-bottom: 30px;
	padding-top: 60px;
}

.about-header .header-caption {
	opacity: 0.8;
	display: block;
	font-size: 20px;
	padding: 8px;
	padding-top: 15px;
	color: #fff;
	font-weight: 400;
}

.about-main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: auto;
	padding-left: 50px;
	padding-right: 50px;
	flex-direction: row;
}

.about-main .first-paragraph {
	color: #fff;
	justify-content: center;
	font-size: 20px;
	width: 50%;
	padding: 30px;
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.about-main .first-paragraph .color {
	font-size: 40px;
}

.about-main .first-paragraph .first-line {
	font-size: 35px;
	opacity: 1;
	margin-bottom: 10px;
	display: block;
}

.about-main .first-paragraph .second-line {
	opacity: 0.8;
	font-size: 18px;
	font-weight: 200;
	line-height: 2rem;
}

.cv {
	padding-top: 40px;
}

.cv a button {
	background: transparent;
	border: none;
	padding: 15px 30px;
	color: #fff;
	background: #046d33;
	outline: none;
	font-size: 20px;
	border-radius: 4px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	transition: all 0.4s ease;
}

.cv a button:hover {
	opacity: 1;
	transform: scale(1.05);
}

.about-img {
	width: 50%;
}

.about-img .img-container * {
	width: 100%;
	padding: 30px;
	padding-top: 10px;
	border-radius: 40px;
}

.services {
	padding-top: 5%;
}

.services-heading {
	height: auto;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 45px;
	color: #fff;
	padding: 10px;
	padding-bottom: 30px;
}

.services-content-wrapper {
	height: auto;
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 2.5%;
}

.service {
	height: 25em;
	width: 28%;
	margin: 1.5%;
	background-color: #191919;
	display: inline-block;
	box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.05);
	position: relative;
	text-align: center;
	z-index: 2;
	border-radius: 10px;
	overflow: hidden;
	animation: opacity 1.4s ease;
}

.service:hover .service-img .img-container {
	box-shadow: 0px 0px 0px 400px #046d33;
}

.service-img .img-container {
	text-align: center;
	display: inline-block;
	z-index: 2;
	position: relative;
	margin: 20px;
	border-radius: 30%;
	padding: 10px;
	border: 0px solid #046d33;
	background: #046d33;
	box-shadow: 0px 0px 0px 0px #046d33;
	height: 100px;
	transition: all 0.8s ease;
}

.service-description {
	color: #fff;
	position: relative;
	display: inline-block;
	z-index: 2;
}

.service-description h2 {
	padding: 10px;
	margin: 5px;
	font-weight: 200;
	font-size: 25px;
}

.service-description p {
	padding: 10px;
	font-weight: 200;
	font-size: 16px;
	opacity: 0.8;
}

.skills-header {
	height: auto;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 45px;
	color: #fff;
	padding: 10px;
	padding-bottom: 30px;
	padding-top: 30px;
	font-weight: 900;
}

.skills-content {
	text-align: center;
	height: auto;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 80px;
}

.skill {
	height: auto;
	width: 45%;
	padding: 0%;
	position: relative;
	color: #fff;
	display: inline-block;
	padding: 1.5%;
}

.skill-text {
	width: 80%;
	position: relative;
	height: 50px;
}

.skill-text-inner {
	display: inline-block;
	position: absolute;
	left: 5%;
	top: 30%;
}

.progress-wrapper {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	background: #191919;
	box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
}

.progress-inner {
	position: absolute;
	top: 10%;
	left: 1%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
	border-radius: 10px;
	background: #046d33;
}

@media only screen and (max-width: 550px) {
	.about-content {
		padding: 30px;
	}

	.about-content .cv a {
		text-decoration: none;
		font-weight: 400;
		font-size: 35px;
		color: #046d33;
		transition: all 0.4s ease;
	}

	.about-header {
		font-size: 35px;
		padding: 10px;
	}

	.about-main {
		padding-left: 10px;
		padding-right: 10px;
		flex-direction: column-reverse;
	}

	.about-main .first-paragraph {
		width: 100%;
		padding: 0;
	}

	.about-main .first-paragraph .color {
		font-size: 30px;
	}

	.about-main .first-paragraph .first-line {
		font-size: 28px;
		opacity: 1;
		margin-bottom: 10px;
		display: block;
	}

	.about-main .first-paragraph .second-line {
		opacity: 0.8;
		font-size: 15px;
	}

	.about-img {
		text-align: center;
		overflow: hidden;
		border-radius: 10%;
		padding: 0%;
	}

	.about-img .img-container * {
		height: 220px;
		padding: 5px;
		border-radius: 10%;
	}

	.service {
		width: 90%;
		box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.1);
	}

	.service-img .img-container * {
		height: 80px;
	}

	.skill {
		width: 80%;
	}

	.progress-wrapper {
		height: 30px;
	}
}

@media only screen and (max-width: 1025px) and (min-width: 551px) {
	.about-main {
		padding-left: 10px;
		padding-right: 10px;
		flex-direction: column-reverse;
	}

	.about-main .first-paragraph {
		width: 100%;
	}

	.service {
		height: auto;
		width: 45%;
	}
}
