.footer {
	background: #046d33;
	width: 100%;
	padding: 20px;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer .footer-text {
	position: relative;
	display: inline;
	font-size: 18px;
	font-weight: 400;
	opacity: 1;
}

.footer .footer-text .small {
	text-align: center;
	text-decoration: underline;
	font-size: 12px;
	opacity: 1;
}
