@import url("https://fonts.googleapis.com/css?family=Monoton&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Shippori Antique", sans-serif;
}

a {
	color: inherit;
	text-decoration: underline;
}

::-webkit-scrollbar {
	width: 7px;
	color: #046d33;
	transition: all 0.4s ease;
}
::-webkit-scrollbar-thumb {
	background: #046d33;
	border-radius: 7px;
	width: 7px;
	transition: all 0.4s ease;
}
::-webkit-scrollbar-track {
	background: #101010;
	border-radius: 7px;
	width: 7px;
}

html {
	background: #101010;
}

/* Pages */
@import url("Home.css");
@import url("About.css");
@import url("Portfolio.css");

/* Components */
@import url("Footer.css");
@import url("TopNavigationBar.css");
@import url("PageSwitchAnimation.css");
